[submodule "nucleo_f767zi-irsend/IRLib2"]
	path = projects/nucleo_f767zi-irsend/libs/IRLib2
	url = https://github.com/cyborg5/IRLib2
[submodule "nucleo_f767zi-irsend/libs/Arduino-IRremote"]
	path = projects/nucleo_f767zi-irsend/libs/Arduino-IRremote
	url = https://github.com/Arduino-IRremote/Arduino-IRremote
[submodule "nucleo_f767zi-irsend/libs/IRMP"]
	path = projects/nucleo_f767zi-irsend/libs/IRMP
	url = https://github.com/ukw100/IRMP
[submodule "nucleo_f767zi-irsend/libs/IRremoteESP8266"]
	path = projects/nucleo_f767zi-irsend/libs/IRremoteESP8266
	url = https://github.com/crankyoldgit/IRremoteESP8266
[submodule "scratchpad/MCUDev_DevEBox_STM32H7XX_M/mcauser-MCUDEV_DEVEBOX_H7XX_M"]
	path = scratchpad/MCUDev_DevEBox_STM32H7XX_M/mcauser-MCUDEV_DEVEBOX_H7XX_M
	url = https://github.com/mcauser/MCUDEV_DEVEBOX_H7XX_M
[submodule "scratchpad/MCUDev_DevEBox_STM32F407VGT6/mcauser-MCUDEV_DEVEBOX_F407VGT6"]
	path = scratchpad/MCUDev_DevEBox_STM32F407VGT6/mcauser-MCUDEV_DEVEBOX_F407VGT6
	url = https://github.com/mcauser/MCUDEV_DEVEBOX_F407VGT6
[submodule "scratchpad/Bodmer-TFT_eSPI"]
	path = scratchpad/Bodmer-TFT_eSPI
	url = https://github.com/Bodmer/TFT_eSPI
[submodule "platformio/platformio-platform-ststm32"]
	path = platformio/platformio-platform-ststm32
	url = https://github.com/platformio/platform-ststm32
[submodule "platformio/platformio-platform-espressif32"]
	path = platformio/platformio-platform-espressif32
	url = https://github.com/platformio/platform-espressif32
[submodule "scratchpad/makerdiary-nrf52840-mdk-usb-dongle"]
	path = scratchpad/makerdiary-nrf52840-mdk-usb-dongle
	url = https://github.com/makerdiary/nrf52840-mdk-usb-dongle
[submodule "docker-image"]
	path = docker-image
	url = https://github.com/zephyrproject-rtos/docker-image
