/*
 *
 * SPDX-License-Identifier: Apache-2.0
 */
 / {
	leds {
		compatible = "gpio-leds";
	};

	gpio_keys {
		compatible = "gpio-keys";
		pulse_gpio: pulse_gpio {
			gpios = <&gpioa 8 GPIO_ACTIVE_HIGH>; /* D6 */
			label = "Pulse GPIO";
		};
		dir_gpio: dir_gpio {
			gpios = <&gpioe 11 GPIO_ACTIVE_HIGH>; /* D5 */
			label = "Dir GPIO";
		};
	};
	aliases {
		// led0 = &green_led;
		led1 = &yellow_led;
		pulse = &pulse_gpio;
        dir = &dir_gpio;

		pwmir = &ir_pwm_led;
		// pwmir = &red_pwm_led;
	};

	pwmleds {
		compatible = "pwm-leds";
		ir_pwm_led: ir_pwm_led {
			pwms = <&pwm13 1 4 PWM_POLARITY_NORMAL>;
			label = "IR LED - PWM12";
		};
	};
};

&spi1 {
    pinctrl-0 = <&spi1_nss_pa4 &spi1_sck_pa5
                 &spi1_miso_pa6 &spi1_mosi_pb5>;
    status = "okay";
};
arduino_spi: &spi1 {};
&arduino_spi {
    cs-gpios = < &arduino_header 0x10 0x1 >, < &arduino_header 0xc 0x1 >;
	ili9340@0 {
		rotation = < 0x10E >;
	};
};


&arduino_i2c {
	status = "okay";
	touch_controller: ft5336@38 {
		compatible = "focaltech,ft5336";
		reg = <0x38>;
		label = "FT5336";
		/* Uncomment if IRQ line is available (requires to solder jumper) */
		/* int-gpios = <&arduino_header 13 GPIO_ACTIVE_LOW>; */ /* D7 */
	};

	mpu6050@68 {
		compatible = "invensense,mpu6050";
		reg = <0x68>;
		status = "okay";
		label = "MPU6050";
		int-gpios = <&arduino_header 2 GPIO_ACTIVE_HIGH>; /* D7 */
	};
};

&timers13 {
    status = "okay";

    pwm13: pwm {
        status = "okay";
		st,prescaler = < 2 >;
        pinctrl-0 = <&tim13_ch1_pf8>; /* D61 */
    };
};
