/*
 *
 * SPDX-License-Identifier: Apache-2.0
 */
 / {
	gpio_keys {
		compatible = "gpio-keys";
		pulse_gpio: pulse_gpio {
			gpios = <&gpioe 9 GPIO_ACTIVE_HIGH>; /* D6 */
			label = "Pulse GPIO";
		};
		dir_gpio: dir_gpio {
			gpios = <&gpioe 11 GPIO_ACTIVE_HIGH>; /* D5 */
			label = "Dir GPIO";
		};
	};
	aliases {
		pulse = &pulse_gpio;
        dir = &dir_gpio;
	};
};

&arduino_spi {
	status = "okay";
	cs-gpios = <&arduino_header 16 GPIO_ACTIVE_LOW>,	/* D10 */
		   <&arduino_header 12 GPIO_ACTIVE_LOW>;	/* D04 */


	ili9340@0 {
		compatible = "ilitek,ili9340";
		label = "ILI9340";
		spi-max-frequency = <15151515>;
		reg = <0>;
		cmd-data-gpios = <&arduino_header 15 GPIO_ACTIVE_LOW>;	/* D9 */
		pixel-format = <ILI9XXX_PIXEL_FORMAT_RGB888>;
		rotation = <270>;
		frmctr1 = [00 18];
		pwctrl1 = [23 00];
		vmctrl1 = [3e 28];
		vmctrl2 = [86];
		pgamctrl = [0f 31 2b 0c 0e 08 4e f1 37 07 10 03 0e 09 00];
		ngamctrl = [00 0e 14 03 11 07 31 c1 48 08 0f 0c 31 36 0f];
	};
};

&arduino_i2c {
	status = "okay";
	touch_controller: ft5336@38 {
		compatible = "focaltech,ft5336";
		reg = <0x38>;
		label = "FT5336";
		/* Uncomment if IRQ line is available (requires to solder jumper) */
		int-gpios = <&arduino_header 13 GPIO_ACTIVE_LOW>; /* D7 */
	};

	mpu6050@68 {
		compatible = "invensense,mpu6050";
		reg = <0x68>;
		status = "okay";
		label = "MPU6050";
		/* int-gpios = <&arduino_header 2 GPIO_ACTIVE_HIGH>; */ /* D7 */
	};
};

&arduino_serial {
	status = "okay";
	current-speed = <115200>;

	esp8266 {
		compatible = "espressif,esp";
		label = "esp8266";
		status = "okay";
	};
};
