# Copyright (c) 2019 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

# Use the SPI driver by default, unless the GPIO driver is
# specifically configured in.
config I2C
	default y

config SSD1306
        default y

choice SSD1306_CONTROLLER_TYPE
        default SSD1306_SH1106_COMPATIBLE
endchoice

config LVGL_DISPLAY_DEV_NAME
	default "SSD1306"
	# default "I2C_0"

config LVGL_HOR_RES_MAX
    default 128

config LVGL_VER_RES_MAX
    default 64

config LVGL_VDB_SIZE
    default 64

config LVGL_DPI
    default 116

config LVGL_BITS_PER_PIXEL
    default 1

choice LVGL_COLOR_DEPTH
    default LVGL_COLOR_DEPTH_1
endchoice


source "Kconfig.zephyr"
